/.settings/
/.project
**/.settings/
**/.project
**/.classpath
**/target/
**/*.DS_Store
/.factorypath
**/transaction-logs/
**/*.log
**/bin/
**/build/
**/nxui/
**/*.geninfo
**/*.xfdl$
**/.gradle/
**/transaction-logs/
**/logging.dir*/