<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.henc.cdrs.daily.repository.MainEqipSetMapper">


	<select id="latestSetupList" resultType="mainEqipSet" parameterType="searchDailyParams">
		<![CDATA[
		SELECT dept_cd,
			   aply_term,
			   direct_oper_div_cd,
			   sort_no,
			   updt_dm,
			   updt_id,
			   wrtr_dm,
			   wrtr_id
		FROM MAIN_EQIP_SET
		WHERE dept_cd = #{deptCd}
		  AND aply_term = (
			SELECT max(aply_term) AS aply_term
			FROM MAIN_EQIP_SET
			WHERE dept_cd = #{deptCd}
			  AND APLY_TERM <= #{day})
		ORDER BY sort_no
		]]>
	</select>

</mapper>
