<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>공사일보</title>


<div layout:fragment="content">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
            document.location.href = "/";
        });
    </script>
</div>
</html>