@charset "UTF-8";
html {
  position: relative;
  min-height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "맑은고딕", sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100%;
  font-size: 13px;
}

a {
  color: #333;
}

a:hover {
  color: #f37321;
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul li {
  list-style: none;
}

textarea {
  resize: none;
}

@font-face {
  font-family: "password";
  font-style: normal;
  font-weight: 400;
  src: url(./password.ttf);
}
input.password_field {
  font-family: "password" !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-red {
  color: red;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-33 {
  width: 33.3% !important;
}

.w-40 {
  width: 40% !important;
}

.btn-sm {
  font-size: 0.75rem;
  padding: 3px 8px;
}

.form-control {
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
}

select.form-control:not([size]):not([multiple]) {
  height: 26px;
}

select.min {
  max-width: 100px;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem);
  padding: 0.1rem 0.5rem;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f37321;
  outline: 0;
  box-shadow: none !important;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none !important;
}

@media (max-width: 767px) {
  select.form-control:not([size]):not([multiple]) {
    height: 32px;
  }

  select.min {
    max-width: none;
  }
}
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: #fff;
  font-size: 15px;
}

.breadcrumb-item.active {
  color: #333;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-weight: 400;
  font-size: 12px;
  color: #ccc;
  padding-right: 10px;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 10px;
}

.top-area {
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  overflow: hidden;
}

@media (max-width: 767px) {
  .top-area {
    margin: 0;
    padding: 8px 15px;
  }

  .breadcrumb {
    font-size: 14px;
    margin-top: 5px;
  }

  .m-hide {
    display: none;
  }

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  body.offcanvas-active {
    overflow: hidden;
  }
}
#wrapper {
  width: calc(100% - 200px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
  float: right;
}

.layout-fullwidth #wrapper {
  width: 100%;
}

.offcanvas-active #wrapper {
  width: calc(100% - 200px);
  left: 0;
}

.layout-fullwidth.offcanvas-active #wrapper {
  width: 100%;
  left: 0;
}

.layout-fullwidth.offcanvas-active .sidebar, .layout-fullwidth.offcanvas-active .sidebar-inner {
  left: -200px;
}

#wrapper #content-wrapper {
  background-color: #fff;
  width: 100%;
}

.container, .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 200px;
  height: 100%;
  z-index: 100;
  margin-left: 0;
  font-size: 14px;
  background-color: #5a5c69;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #5a5c69), to(#373840));
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
  background-size: cover;
}

.layout-fullwidth .sidebar {
  left: -200px;
}

.offcanvas-active .sidebar {
  left: 0;
}

.sidebar-inner {
  position: fixed;
  left: 0;
  top: 0;
  float: left;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.layout-fullwidth .sidebar-inner {
  left: -200px;
}

.offcanvas-active .sidebar-inner {
  left: 0;
}

.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
  position: relative;
}

#sidebarToggleTop.btn-link {
  color: #fff;
}

.sidebar .navbar-nav {
  width: 200px;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

.sidebar .nav-item {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar .nav-item.active {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 2px solid #f37321;
}

.sidebar .nav-item .nav-link span {
  display: block;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding: 10px 15px 10px 25px;
  margin: 0;
  display: block;
  color: #ddd;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  color: #fff;
  font-weight: 600;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  color: #fff;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.2);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:after, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:after {
  width: 15px;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  content: "";
  font-family: "Font Awesome 5 Free";
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item.d-tab {
  display: block;
}

.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidebar #sidebarToggle::after {
  font-weight: 900;
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 0.1rem;
}

.sidebar #sidebarToggle:focus {
  outline: none;
}

.sidebar .nav-item .collapse {
  position: relative;
  left: 0;
  z-index: 1;
  top: 0;
  -webkit-animation: none;
  animation: none;
}

.sidebar .nav-item .collapsing {
  display: block;
  -webkit-transition: height 0.15s ease;
  transition: height 0.15s ease;
}

.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
  margin: 0;
  transition: all 0.4s;
}

.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar .nav-item .nav-link i {
  font-size: 0.95rem;
  margin-right: 0.25rem;
  color: rgba(255, 255, 255, 0.6);
}

.sidebar .nav-item .nav-link span {
  display: inline;
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: "";
  font-family: "Font Awesome 5 Free";
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
  content: "";
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: #fff;
}

.sidebar .nav-item .nav-link:active i, .sidebar .nav-item .nav-link:focus i, .sidebar .nav-item .nav-link:hover i {
  color: #fff;
}

.sidebar .nav-item.active .nav-link {
  color: #fff;
}

.sidebar #sidebarToggle {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar #sidebarToggle::after {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar #sidebarToggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.sidebar .sidebar-bottom {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
  z-index: 2;
}

.sidebar .sidebar-bottom ul {
  padding: 0;
  margin: 0;
}

.sidebar .sidebar-bottom ul li {
  display: block;
  width: 50%;
  float: left;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.sidebar .sidebar-bottom ul li.user, .sidebar .sidebar-bottom ul li.privacy {
  display: none;
}

.sidebar .sidebar-bottom ul li.user a {
  position: relative;
}

.sidebar .sidebar-bottom ul li.user a:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.25);
  top: 11px;
  right: 0;
}

.sidebar .sidebar-bottom ul li.appdown {
  width: 100%;
  display: none;
}

.sidebar .sidebar-bottom a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  text-align: center;
}

.sidebar .sidebar-bottom ul li.appdown a {
  color: rgba(255, 255, 255, 0.9);
}

.sidebar .btn-close {
  display: none;
  position: absolute;
  left: 200px;
  top: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-color: #1c1c20;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .btn-close i {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}

.topbar {
  position: relative;
  height: 52px;
  background-color: #f37321;
  z-index: 99;
}

.topbar.off {
  background-color: #999;
}

.topbar #sidebarToggleTop {
  height: 38px;
  width: 38px;
  background-color: rgba(255, 255, 255, 0.1);
}

.topbar #sidebarToggleTop:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.topbar #sidebarToggleTop:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.topbar-bi {
  width: 30%;
  position: absolute;
  left: 70px;
  top: 13px;
}

.topbar-bi a {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.topbar-btn {
  position: absolute;
  left: 15px;
  top: 7px;
}

.topbar-center {
  width: 400px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -200px;
}

.topbar-right {
  position: absolute;
  left: 60%;
  top: 18px;
  width: 40%;
  text-align: right;
}

.topbar-right .navbar-nav {
  display: inline-block;
}

.topbar-right .navbar-nav li {
  float: left;
}

.topbar .top-selcet {
  width: 100%;
}

.topbar .top-selcet select {
  width: 100%;
  border: 0;
  min-height: 32px;
  font-size: 14px;
}

.topbar .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px 0 0;
}

.topbar .nav-item .nav-link:focus {
  outline: none;
}

.topbar .nav-item:focus {
  outline: none;
}

.topbar .navbar-nav .nav-item .nav-link,
.topbar .navbar-nav .nav-item .nav-link:hover,
.topbar .navbar-nav .nav-item .nav-link:active {
  color: #fff;
}

.notification .toast {
  position: fixed;
  bottom: 20px;
  right: 0;
  float: right;
  z-index: 9999;
  max-width: 290px;
  width: 290px;
  border: 1px solid #ccc;
  background-color: #fff3cd;
  transition: all 0.5s ease-in-out;
  margin-right: -300px;
}

.notification .toast.show {
  transition: all 0.5s ease-in-out;
  margin-right: 20px;
}

.notification .toast .toast-header {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  color: #856404;
}

.notification .toast .toast-header i {
  color: #f37321;
}

.notification .toast .toast-body {
  padding: 10px 15px;
  background-color: #fff;
}

@media (max-width: 1199px) {
  .topbar-center {
    width: 280px;
    position: absolute;
    margin-left: -140px;
  }
}
@media (max-width: 1023px) {
  #wrapper {
    width: 100%;
    left: 0;
  }

  .layout-fullwidth #wrapper {
    width: calc(100% - 200px);
  }

  .offcanvas-active #wrapper {
    width: 100%;
    left: 0;
  }

  .sidebar, .sidebar-inner {
    left: -200px;
  }

  .layout-fullwidth .sidebar, .layout-fullwidth .sidebar-inner {
    left: 0;
  }

  .offcanvas-active .sidebar, .offcanvas-active .sidebar-inner {
    left: -200px;
  }

  .layout-fullwidth.offcanvas-active .sidebar, .layout-fullwidth.offcanvas-active .sidebar-inner {
    left: 0;
  }

  .sidebar .sidebar-bottom ul li.user, .sidebar .sidebar-bottom ul li.privacy {
    display: block;
  }

  .offcanvas-active .sidebar .btn-close {
    display: none;
  }

  .layout-fullwidth.offcanvas-active .sidebar .btn-close {
    display: block;
  }

  .topbar-center {
    width: 300px;
    position: absolute;
    margin-left: -150px;
  }

  .topbar-right .navbar-nav li.d-lg-block {
    display: none !important;
  }

  .sidebar .nav-item .nav-link {
    padding: 10px 15px;
  }

  .sidebar .nav-item.d-tab {
    display: none;
  }
}
@media (max-width: 992px) {
  .topbar-right .navbar-nav li.d-lg-block {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .layout-fullwidth #wrapper {
    width: 100%;
    left: 0;
  }

  .layout-fullwidth .sidebar, .layout-fullwidth .sidebar-inner {
    left: -200px;
  }

  .layout-fullwidth .sidebar .btn-close {
    display: none;
  }

  .offcanvas-active .sidebar, .offcanvas-active .sidebar-inner {
    left: 0;
  }

  .offcanvas-active .sidebar-inner {
    width: 100%;
  }

  .sidebar-inner {
    transition: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .offcanvas-active .sidebar .btn-close {
    display: block;
  }

  .container, .container-fluid {
    padding: 0;
  }

  .topbar {
    height: 110px;
    margin-top: 0;
    transition: 0.3s;
  }

  .topbar-bi {
    width: 100%;
    text-align: center;
    left: 0;
  }

  .topbar-bi a {
    font-size: 20px;
  }

  .topbar-center {
    left: 0;
    top: 65px;
    width: 100%;
    padding: 0 15px;
    margin-left: 0;
  }

  .nav-item.logout i {
    font-size: 16px;
  }

  .notification .toast {
    bottom: 15px;
  }

  .notification .toast.show {
    margin-right: 15px;
  }
}
#title-area {
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  overflow: hidden;
}

#title-area .left {
  margin-top: 5px;
}

#title-area h1 {
  font-size: 18px;
  font-weight: 600;
  float: left;
  margin-bottom: 0;
}

#title-area ul {
  line-height: 1.2;
  margin: 0 0 0 30px;
}

#title-area ul li {
  display: inline-block;
}

#title-area ul li span {
  background-color: #ccc;
  padding: 4px 15px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

#title-area form {
  float: left;
}

#title-area .form-inline .form-control {
  width: auto;
  height: calc(1.5rem + 2px);
}

#title-area .date_view {
  margin-left: 10px;
  float: left;
  line-height: 1;
}

#title-area .date_view .btn {
  border-color: #d2d2d2;
  background-color: #fff;
}

#title-area .date_view .date {
  font-weight: 600;
  font-size: 18px;
  vertical-align: middle;
  margin: 0 10px;
}

#title-area .date_view .date i {
  display: none;
}

#title-area .calendar-icon {
  float: left;
  display: none;
}

#title-area .month {
  display: none;
}

#title-area .date_view .date strong {
  font-weight: 600;
  margin-right: 3px;
}

@media (max-width: 767px) {
  #title-area h1 {
    display: none;
  }

  #title-area {
    margin: 0;
    padding: 8px 15px;
    background-color: #fff;
  }

  #title-area .right {
    float: left;
    width: 100%;
  }

  #title-area form {
    float: right;
  }

  #title-area form select {
    margin-left: 3px;
  }

  #title-area .date_view {
    margin-left: 0;
    float: left;
  }

  #title-area .date_view .date {
    padding-left: 20px;
    float: left;
    margin: 5px 10px 0 0;
    position: relative;
  }

  #title-area .date_view .date strong {
    display: none;
  }

  #title-area .date_view .date i {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 20px;
    color: #999;
    cursor: pointer;
  }

  #calendar #title-area.expanded .date_view .date i:before {
    content: "";
    color: #f37321;
  }

  #title-area .calendar-icon {
    display: block;
    float: right;
    margin-left: 5px;
  }

  #title-area .calendar-icon .btn {
    border-color: #d2d2d2;
    background-color: #fff;
  }
}
#search-area {
  position: relative;
  background-color: #f2f4f6;
  border-color: #d6d6d6 !important;
}

#search-area .form-row {
  padding: 10px 80px 10px 0;
  margin: 0;
}

#search-area .form-row > div {
  width: 33.3%;
  margin: 5px 0;
}

#search-area .form-row .form-control, #search-area .form-row .input-group {
  width: calc(100% - 180px);
}

#search-area .form-row .input-group > .form-control {
  width: calc(100% - 30px);
}

#search-area .form-row .month_term .input-group > .form-control {
  width: calc(50% - 40px);
}

#search-area .form-row .input-group .btn, .form-area .input-group .btn {
  border-color: #ced4da;
  background-color: #fff;
  width: 30px;
  border-radius: 0.2rem;
}

#search-area .form-row .input-group.password .btn, .form-area .input-group.password .btn {
  width: 100%;
}

#search-area .form-row .input-group .btn > i {
  font-size: 15px;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

#search-area .form-row .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

#search-area .form-row .input-group .input-group-append + i {
  width: 14px;
  display: block;
  text-align: center;
}

#search-area .form-row label {
  width: 180px;
  display: block;
  float: left;
  font-weight: 600;
  padding: 3px 3px 0 25px;
  margin-bottom: 0;
}

#search-area .form-row input {
  display: block;
  float: left;
}

#search-area .form-row .month_term input {
  max-width: 100px;
}

#search-area .btn-area {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#search-area .form-row .input-group .form-control, .form-area .input-group .form-control, .form-area .input-group select.form-control:not([size]):not([multiple]) {
  width: calc(50% - 180px);
}

#search-area .form-row .input-group .form-control.min {
  width: 100px;
}

#search-area .form-check label {
  width: 100%;
  padding: 0 5px;
}

#search-area .form-check, .form-area .form-check {
  margin-top: 3px;
}

@media (max-width: 1199px) {
  #search-area .form-row > div {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #search-area .form-row > div {
    width: 100%;
    padding-left: 20px;
  }

  #search-area .form-row .form-control {
    height: 32px;
  }

  #search-area .form-row .form-control, #search-area .form-row .input-group, .form-area {
    width: 100%;
  }

  #search-area .form-row label {
    padding: 0 0 5px;
    width: 100%;
  }

  #search-area .form-row .month_term input {
    max-width: none;
  }
}
#grid-area h2, .form-area h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 24px;
}

#grid-area #apply-period p {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 600;
  display: block;
  border-top: 1px solid #f37321;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

#grid-area #apply-period .list-group-item {
  padding: 8px;
}

#grid-area #apply-period .list-group-item.active {
  background-color: #828282;
  border-color: #666;
}

#grid-area #nav-tabContent .nav-pills .nav-link.active, #grid-area #nav-tabContent .nav-pills .show > .nav-link {
  background-color: #444;
}

#grid-area #nav-tabContent .nav-fill .nav-item {
  background-color: #f2f2f2;
  border-bottom: 1px solid #333;
}

#grid-area #nav-tabContent .nav-pills .nav-link {
  border-radius: 0;
  font-weight: 600;
}

#grid-area .tab-content h3 {
  font-size: 14px;
  font-weight: 600;
}

#grid-area .tab-content h3:before {
  content: "";
}

.sheet {
  background: #eee;
}

@media (max-width: 767px) {
  .top-area ~ .form-area {
    margin-top: 15px;
  }

  #grid-area, .form-area {
    padding: 0 15px;
  }

  #grid-area #apply-period .list-group-item {
    padding: 5px;
    border-radius: 0;
  }

  .sheet {
    height: 450px;
  }

  .sheet:last-child {
    margin-bottom: 15px;
  }
}
#subtitle-area {
  border-bottom: 1px solid #dedede;
  padding: 0 25px 6px 5px;
  margin-bottom: 15px;
  overflow: hidden;
}

#subtitle-area .left {
  float: left;
}

#subtitle-area .btn-toolbar {
  float: right;
}

#subtitle-area .btn-toolbar .btn {
  margin-left: 5px;
  float: left;
}

#subtitle-area .btn-toolbar .btn:first-child {
  margin-left: 0;
}

#subtitle-area .list {
  display: none;
}

#subtitle-area .row {
  margin-right: 0;
  margin-left: 0;
}

#subtitle-area .form-inline label {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 30px;
}

#subtitle-area .form-inline input.form-control {
  width: 100px;
}

@media (max-width: 767px) {
  #subtitle-area {
    padding: 10px 15px;
    margin-bottom: 0;
    background-color: #f2f4f6;
  }

  #subtitle-area .form-inline label {
    font-size: 0.875rem;
    margin-bottom: 0;
    line-height: 32px;
  }

  #subtitle-area .form-inline input.form-control {
    height: calc(2em + 0.5rem);
  }

  #subtitle-area .btn-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
    z-index: 3;
    padding: 10px;
    width: 100%;
    border-top: 1px solid #999;
    display: block;
  }

  #subtitle-area .list {
    display: block;
    float: right;
    margin-left: 5px;
  }

  #subtitle-area .btn-toolbar .copy {
    display: none;
  }

  #subtitle-area .btn-toolbar .btn.save {
    float: right;
  }

  #subtitle-area .btn-toolbar .btn:last-child {
    margin-left: 0;
  }
}
/* box-area */
.box-area {
  text-align: center;
}

@media (max-width: 767px) {
  .box-area.expanded {
    padding: 0 0 47px;
  }
}
/* collapse */
#calendar .collapse-area {
  display: none;
}

#calendar.expanded #title-area, #calendar.expanded #partners, #calendar.expanded #construction {
  display: none;
}

#calendar.expanded .collapse-area {
  display: block;
}

#calendar.expanded .collapse-area .title-area {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
  margin-top: 15px;
  overflow: hidden;
}

#calendar.expanded .collapse-area .title-area h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

#calendar.expanded .collapse-area .accordion .header {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1rem;
  margin-bottom: 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

#calendar.expanded .collapse-area .accordion .header a {
  margin-top: 3px;
  width: calc(100% - 200px);
}

#calendar.expanded .collapse-area .accordion .header a:hover {
  color: #333;
}

#calendar.expanded .collapse-area .accordion .header .state {
  color: #fff;
  display: block;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px;
  float: left;
}

#calendar.expanded .collapse-area .accordion .header .type {
  margin-left: 4px;
  width: calc(100% - 80px);
  display: block;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
}

#calendar.expanded .collapse-area .accordion .txt-area {
  padding: 0 15px 15px;
}

#calendar.expanded .collapse-area {
  position: relative;
}

#calendar.expanded .collapse-area .title-area {
  margin: 0;
  padding: 8px 10px;
  display: block;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 98;
  background-color: #fff;
  max-height: 43px;
}

#calendar.expanded .collapse-area .title-area .float-left {
  margin: 5px;
}

#calendar.expanded .collapse-area .title-area .btn-area {
  float: right;
}

#calendar.expanded .collapse-area .title-area .btn-area .btn {
  height: 26px;
}

#calendar.expanded .collapse-area .title-area .btn-area .btn i {
  display: none;
}

#calendar.expanded .collapse-area .title-area h1 {
  font-size: 14px;
}

#calendar.expanded .collapse-area {
  margin-top: 0;
  border: 0;
}

#calendar.expanded .collapse-area .accordion {
  background-color: #fff;
}

#calendar.expanded .collapse-area .accordion .header {
  padding: 8px 10px;
  background-color: #f2f2f2;
  z-index: 98;
}

#calendar.expanded .collapse-area .accordion .header#heading1 {
  position: -webkit-sticky;
  position: sticky;
  top: 43px;
  left: 0;
}

#calendar.expanded .collapse-area .accordion .header#heading2 {
  position: -webkit-sticky;
  position: sticky;
  bottom: 43px;
  left: 0;
}

#calendar.expanded .collapse-area .accordion .header#heading3 {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}

#calendar.expanded .collapse-area .accordion .header .btn-area span {
  margin-right: 3px;
}

#calendar.expanded .collapse-area .accordion .header.construction .btn-area .report {
  display: none;
}

#calendar.expanded .collapse-area .alert-dismissible .close {
  padding: 0.35rem 1.25rem;
}

#calendar.expanded .collapse-area .alert strong {
  font-size: 14px;
}

#calendar.expanded .collapse-area .alert strong i {
  color: #f37321;
}

#calendar.expanded .collapse-area .alert ul li {
  margin-top: 3px;
}

#calendar.expanded .collapse-area .alert ul li:before {
  content: "-";
  margin-right: 5px;
}

#wrapper.scroll .topbar {
  margin-top: -52px;
  transition: 0.3s;
}

.collapse:not(.show) {
  transition: height 0.15s ease;
}

#calendar.expanded .collapse-area .accordion .txt-area {
  margin-top: 0;
}

#wrapper.scroll #calendar.expanded .collapse-area .accordion .txt-area {
  transition: 0.3s;
}

.collapse-area .multi-collapse.collapsing {
  transition: none;
}

.collapse-area .multi-collapse {
  position: relative;
}

.collapse-area .collapse.multi-collapse.show {
  height: 100% !important;
}

.collapse-area .txt-area {
  padding: 0 0.5rem 1rem;
}

.collapse-area .txt-area .box {
  position: relative;
}

.collapse-area .txt-area .title {
  display: block;
  padding: 12px 5px;
  height: 45px;
}

.collapse-area .txt-area .title a > i {
  width: 12px;
}

.collapse-area .txt-area .title a {
  float: left;
  margin-top: 2px;
}

.collapse-area .txt-area .btn-area {
  position: absolute;
  right: 0;
  top: -32px;
}

.collapse-area .txt-area .btn-area > .btn {
  border-color: #d2d2d2;
  margin-left: 5px;
  background-color: #fff;
}

.collapse-area .txt-area a:hover {
  text-decoration: none;
  color: #333;
}

.collapse-area .txt-area .title span {
  font-size: 0.875rem;
  font-weight: 600;
}

.collapse-area .txt-area .title a[aria-expanded=true] .fa-caret-right:before {
  content: "";
  color: #f37321;
}

.collapse-area .txt-area .table {
  margin-bottom: 0;
}

.collapse-area .txt-area .title a[aria-expanded=false] + .total-list {
  display: none;
}

.total-list {
  float: left;
  display: flex;
}

.total-list dl {
  position: relative;
  margin-bottom: 0;
  padding-left: 20px;
  margin-top: 3px;
}

.total-list dl:before {
  content: "";
  height: 10px;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: 12px;
  top: 6px;
}

.total-list dt {
  display: inline;
}

.total-list dd {
  display: inline;
  color: #f37321;
  font-weight: 600;
}

.total-list select.form-control {
  width: 55px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  #calendar.expanded .collapse-area .title-area {
    background-color: #fff;
  }

  #calendar.expanded .collapse-area .title-area h1 {
    padding-left: 30px;
  }

  #calendar.expanded .collapse-area .title-area .btn-area {
    float: none;
    position: absolute;
    left: 10px;
    top: 8px;
  }

  #calendar.expanded .collapse-area .title-area .btn-area .btn {
    background-color: #fff;
    border-color: #d2d2d2;
    color: #333;
  }

  #calendar.expanded .collapse-area .title-area .btn-area span {
    display: none;
  }

  #calendar.expanded .collapse-area .title-area .btn-area .btn i {
    display: block;
  }

  .collapse-area .txt-area .btn-area > .btn.del {
    display: none;
  }

  #calendar.expanded .collapse-area .accordion .header a {
    width: auto;
  }

  #calendar.expanded .collapse-area .accordion .header .type {
    width: 130px;
  }

  #calendar.expanded .collapse-area .accordion .header .btn-area span {
    display: none;
  }

  #calendar.expanded .collapse-area .accordion .header .btn-area i {
    display: none;
  }

  #wrapper.scroll .topbar {
    margin-top: -110px;
  }

  #calendar.expanded .collapse-area .accordion .header.construction .type {
    width: 70px;
  }

  #calendar.expanded .collapse-area .accordion .header.construction .btn-area .daily {
    display: none;
  }

  #calendar.expanded .collapse-area .accordion .header.construction .btn-area .report {
    display: inline-block;
  }

  #calendar.expanded .collapse-area .accordion .txt-area {
    padding: 0 10px 15px;
  }

  .total-list {
    display: block;
    width: 100%;
    margin: 8px 0 5px -5px;
  }

  .total-list dl {
    position: relative;
    margin-bottom: 0;
    padding-left: 0;
    float: left;
  }

  .total-list dl:before {
    content: "";
    height: 10px;
    width: 1px;
    background-color: #ccc;
    position: inherit;
  }

  .total-list dt {
    display: inline;
  }

  .total-list dd {
    display: inline;
    color: #f37321;
    font-weight: 600;
  }

  .total-list select.form-control {
    width: 55px;
    margin-left: 10px;
    float: left;
  }

  .total-list select.form-control:not([size]):not([multiple]) {
    height: 24px;
    line-height: 24px;
  }
}
/* table */
.table-list .table {
  font-size: 12px;
}

.table-list .table td, .table-list .table th {
  border: 1px solid #d6d6d6;
  vertical-align: middle;
  padding: 5px 10px;
}

.table-list .table thead th {
  text-align: center;
  border-bottom: none;
  background: #f9f9f9;
  padding: 5px 10px;
}

.table-list .table tbody th {
  background-color: #eee;
}

.table-list .table td.btn-default {
  display: none;
}

.table-list .form-check .form-check-input {
  margin-top: 3px;
}

@media (max-width: 767px) {
  .table-list tbody tr {
    display: block;
    padding: 0 10px 10px;
    background-color: #eee;
    position: relative;
    margin-top: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .table-list tbody tr:first-child {
    margin-top: 0;
  }

  .table-list .table thead {
    display: none;
  }

  .table-list .table tbody td {
    padding: 0;
    width: calc(100% - 50px);
    display: block;
    border: 0;
    margin-top: 10px;
  }

  .table-list .table tbody td.dual {
    overflow: hidden;
    float: left;
    width: calc(50% - 25px);
  }

  .table-list .table tbody td.dual .form-control-sm {
    width: 100%;
  }

  .table-list .table tbody td.triple {
    overflow: hidden;
    float: left;
    width: calc(33.3% - 16.6px);
  }

  .table-list .table tbody td.triple .form-control-sm {
    width: 100%;
  }

  .table-list .table .form-control-sm {
    height: calc(2em + 0.5rem);
    width: 100%;
  }

  .table-list .table td.btn-default {
    display: block;
    margin: 0;
  }

  .table-list .table td.btn-default .btn-toolbar {
    position: absolute;
    right: 5px;
    top: 8px;
  }

  .table-list .table td.btn-default .btn-toolbar .btn {
    padding: 2px 5px;
    color: #828282;
    background-color: transparent;
    font-size: 13px;
    margin-left: 3px;
  }

  .table-list .table td.btn-default .btn-toolbar .btn .fa-sort-down {
    line-height: 2;
  }

  .table-list .table tr.on td.hide-row {
    display: block;
    float: left;
  }

  .table-list .table td.hide-row {
    display: none;
  }
}
.tablest {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  border: 1px solid #ddd;
}

.tablest dl, .tablest dt, .tablest dd {
  margin-bottom: 0;
}

.tablest dl {
  float: left;
  border-left: 1px solid #ddd;
}

.tablest dl:first-child {
  border-left: 0;
}

.tablest dt {
  text-align: center;
  background-color: #eee;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.tablest dd {
  padding: 10px;
}

@media (max-width: 767px) {
  .tablest {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .tablest dl {
    width: 100% !important;
    border-left: 0;
  }
}
.form-area .table {
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  table-layout: fixed;
}

.form-area .table td, .form-area .table th {
  vertical-align: middle;
  padding: 5px 10px;
}

.form-area .table tbody th {
  background-color: #f9f9f9;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

.form-area .table td.tem-dual .form-control {
  float: left;
  width: 50px;
}

.form-area .table td ol {
  margin: 0;
  padding-left: 15px;
}

.form-area .table td ol li {
  line-height: 22px;
}

.form-area .table td ol li strong {
  width: 120px;
  display: inline-block;
}

.form-area .table td ol li span {
  font-size: 12px;
}

.table-area .table td, .table-area .table th {
  border: 1px solid #d6d6d6;
  vertical-align: middle;
  padding: 5px 10px;
}

.table-area .table thead th {
  text-align: center;
  border-bottom: none;
  background: #f9f9f9;
  padding: 5px 10px;
}

.table-area .table tbody th {
  background: #f9f9f9;
}

.table-area .table tbody th i {
  font-size: 10px;
  color: #999;
}

.table-area .table tbody tr.total {
  background: #f9f9f9;
  font-weight: 600;
}

.table-area .table .btn {
  border-color: #666;
  background-color: #fff;
}

.table-area.m-view tbody td .state {
  font-weight: 600;
}

.table-area.m-view tbody td .state.text-danger {
  color: #dc3545 !important;
}

.table-area.m-view tbody td .state.text-primary {
  color: #16a996 !important;
}

.table-area.m-view tbody td .state.text-secondary {
  color: #f29b12 !important;
}

.table-area.m-view tbody td .state.text-success {
  color: #247cba !important;
}

.table-area.m-view tbody td .state.text-warning {
  color: #9bb958 !important;
}

@media (max-width: 767px) {
  .form-area .table {
    table-layout: inherit;
    border: 0;
  }

  .form-area .table td, .form-area .table th {
    float: left;
    width: 100%;
    min-height: 37px;
    display: flex;
  }

  .form-area .table td {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
  }

  .form-area .table td:last-child {
    border-bottom: 1px solid #d6d6d6;
  }

  .form-area .table colgroup col {
    width: 100% !important;
  }

  .form-area .table tbody th {
    line-height: 25px;
  }

  .collapse .form-area {
    padding: 0;
  }

  .table-area .table td, .table-area .table th, .table-area .table thead th {
    padding: 5px;
  }

  .table-area.m-view .table {
    border-top: 1px solid #333;
  }

  .table-area.m-view thead {
    display: none;
  }

  .table-area.m-view tbody tr {
    display: block;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    height: 65px;
  }

  .table-area.m-view tbody td {
    border: 0;
    display: block;
    padding: 10px 0;
    font-size: 12px;
  }

  .table-area.m-view tbody td.m-hide {
    display: none;
  }

  .table-area.m-view tbody td.name {
    position: absolute;
    left: 50px;
    top: 24px;
  }

  .table-area.m-view tbody td.company {
    position: absolute;
    left: 50px;
    width: calc(100% - 130px);
  }

  .table-area.m-view tbody td.company a {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .table-area.m-view tbody td .state {
    position: absolute;
    top: 12px;
    left: 3px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0 1px;
    line-height: 40px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 11px;
  }

  .table-area.m-view tbody td .state.text-danger {
    color: #fff !important;
    background-color: #dc3545;
  }

  .table-area.m-view tbody td .state.text-primary {
    color: #fff !important;
    background-color: #16a996;
  }

  .table-area.m-view tbody td .state.text-secondary {
    color: #fff !important;
    background-color: #f29b12;
  }

  .table-area.m-view tbody td .state.text-success {
    color: #fff !important;
    background-color: #247cba;
  }

  .table-area.m-view tbody td .state.text-warning {
    color: #fff !important;
    background-color: #9bb958;
  }

  .table-area.m-view tbody td.submit {
    position: absolute;
    top: 25px;
    right: 70px;
  }

  .table-area.m-view tbody td.subject {
    position: absolute;
    right: 0;
    top: 0;
  }

  .table-area.m-view tbody td.history {
    position: absolute;
    top: 25px;
    right: 0;
  }

  .table-area .table.responsive-data colgroup col {
    width: 100% !important;
  }

  .table-area .table.responsive-data tr:nth-last-of-type(odd) {
    background-color: #f9f9f9;
  }

  .table-area .table.responsive-data table, .table-area .table.responsive-data thead, .table-area .table.responsive-data tbody, .table-area .table.responsive-data th, .table-area .table.responsive-data td, .table-area .table.responsive-data tr {
    display: block;
    text-align: left !important;
  }

  .table-area .table.responsive-data thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-area .table.responsive-data tr {
    border: 1px solid #d6d6d6;
    border-bottom: 0;
    margin-top: 10px;
  }

  .table-area .table.responsive-data tr:first-child {
    margin-top: 0;
  }

  .table-area .table.responsive-data td {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    position: relative;
    padding-left: 40%;
    min-height: 32px;
  }

  .table-area .table.responsive-data td:before {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: 600;
  }

  .table-area .table.responsive-data td:nth-of-type(1):before {
    content: "공종";
  }

  .table-area .table.responsive-data td:nth-of-type(2):before {
    content: "업체명";
  }

  .table-area .table.responsive-data td:nth-of-type(3):before {
    content: "금일주요작업";
  }

  .table-area .table.responsive-data td:nth-of-type(4):before {
    content: "명일예정사항";
  }
}
/* pagination */
.pagination .page-link {
  border: 0;
  color: #666;
  margin: 0 5px;
  font-size: 14px;
  padding: 5px;
}

.pagination .page-item.active .page-link {
  color: #f37321;
  background-color: #fff;
  border-bottom: 1px solid #f37321;
  font-weight: 600;
}

.pagination .page-link:hover {
  color: #f37321;
  background-color: transparent;
}

.pagination .page-link:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

ul.pagination {
  margin-bottom: 0;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 115px;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background: rgba(90, 92, 105, 0.9);
  line-height: 40px;
  z-index: 99;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff;
}

.scroll-to-top:active {
  background: rgba(90, 92, 105, 0.5);
}

.scroll-to-top i {
  font-weight: 800;
  font-size: 16px;
}

@media (max-width: 767px) {
  .scroll-to-top {
    bottom: 0;
    top: 9px;
    right: 10px;
    width: 28px;
    height: 26px;
    line-height: 26px;
  }
}
/* modal */
.modal {
  padding-left: 0 !important;
}

.modal-dialog {
  margin: 0 auto;
}

.modal-dialog.modal-xl {
  max-width: 100%;
  height: 100%;
  padding: 10px;
}

.modal-content {
  border-radius: 0;
  height: 100%;
}

.modal-header {
  background-color: #555;
  color: #fff;
  border-radius: 0;
  padding: 10px 15px;
}

.modal-header h5 {
  font-size: 16px;
}

.modal-header .close {
  padding: 10px;
  margin: -14px -15px -15px auto;
  color: #fff;
  text-shadow: none;
  opacity: 0.8;
}

.modal-body {
  font-size: 12px;
  overflow: auto;
}

.modal-body .form-area .table, .modal-body .table-area .table {
  margin-bottom: 10px;
  font-size: 12px;
}

.modal-body .table-area .table:last-child {
  margin-bottom: 0;
}

.modal-body h2, .personal-info h2 {
  font-size: 14px;
  font-weight: 600;
}

.modal-body .contents h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 3px;
}

.modal-body .contents .btn {
  border-color: #d2d2d2;
  background-color: #fff;
}

.modal-body #search-area .form-row > div {
  width: 100%;
}

@media (max-width: 767px) {
  .modal-dialog.modal-xl {
    padding: 0;
  }

  .modal-body .contents .table .btn {
    border-color: transparent;
  }
}
/*개인정보변경팝업*/
.personal-info label {
  font-size: 14px;
  font-weight: 600;
}

.personal-info input {
  border-radius: 0;
  margin-bottom: 5px;
  height: auto;
}

.personal-info .sign {
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: 150px;
}

.personal-info .sign canvas {
  width: 100%;
  height: 150px;
}

.personal-info .table-area .table {
  margin-bottom: 0;
  line-height: 18px;
}

.personal-info .table-area .form-check {
  padding-left: 0;
}

.personal-info .table-area .form-check .form-check-input {
  margin: 0;
}

.personal-info .btn-area .btn {
  width: 100%;
  padding: 8px;
  font-size: 13px;
}

.personal-info select {
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  max-height: none;
}

.personal-info select.form-control:not([size]):not([multiple]) {
  height: 32px;
}

.modal-body .form-area {
  padding: 0;
}

.modal-body .form-area .table {
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  table-layout: fixed;
}

.modal-body .form-area .table td, .modal-body .form-area .table th {
  vertical-align: middle;
  padding: 5px 10px;
}

.modal-body .form-area .table tbody th {
  background-color: #f2f4f6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

.modal-body .form-area .table td.tem-dual .form-control {
  float: left;
  width: 50px;
}

.modal-body .table-area {
  border-top: 1px solid #555;
}

.modal-body .table-area .table td, .modal-body .table-area .table th {
  border: 1px solid #d6d6d6;
  vertical-align: middle;
  padding: 5px 10px;
}

.modal-body .table-area .table thead th {
  text-align: center;
  border-bottom: none;
  background: #f9f9f9;
  padding: 5px 10px;
}

.modal-body .table-area .table .btn {
  border-color: #666;
  background-color: #fff;
}

@media (max-width: 767px) {
  .modal-body .form-area .table {
    table-layout: inherit;
  }

  .modal-body .form-area .table td, .modal-body .form-area .table th {
    display: block;
    float: left;
  }

  .modal-body .form-area .table tbody th {
    width: 100%;
    border-right: 0;
  }

  .modal-body .form-area .table td {
    width: 100%;
    border-right: 0;
  }

  .modal-body .form-area .table td:last-child {
    border-bottom: 0;
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

@-webkit-keyframes fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fade-right {
  -webkit-animation-name: fade-right;
  animation-name: fade-right;
}

/* calendar */
#calendar .top-calendar {
  display: none;
}

@media (max-width: 767px) {
  #calendar .top-calendar {
    display: none;
    padding-top: 32px;
    font-size: 12px;
  }

  #calendar #title-area.expanded .top-calendar {
    display: block;
  }

  #calendar .top-calendar .table {
    margin-bottom: 6px;
  }

  #calendar .top-calendar .table thead th {
    text-align: center;
    background-color: #f9f9f9;
  }

  #calendar .top-calendar .table thead th:first-child,
#calendar .top-calendar .table td:first-child {
    color: #ed1d25;
  }

  #calendar .top-calendar .table thead th:last-child,
#calendar .top-calendar .table td:last-child {
    color: #0072bc;
  }

  #calendar .top-calendar .table td {
    position: relative;
    height: 40px;
  }

  #calendar .top-calendar .table td .day {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 15px;
    height: 20px;
    cursor: pointer;
  }
}
#calendar .calendar-table {
  font-size: 13px;
  background-color: #fff;
  table-layout: fixed;
}

#calendar .calendar-table thead th {
  text-align: center;
  border-bottom: none;
}

#calendar .calendar-table th, #calendar .calendar-table td {
  border: 1px solid #d6d6d6;
}

#calendar .calendar-table th {
  background-color: #f2f4f6;
  padding: 5px 10px;
}

#calendar .calendar-table th:first-child {
  color: #ed1d25;
}

#calendar .calendar-table th:last-child {
  color: #0072bc;
}

#calendar .calendar-table td {
  position: relative;
  height: 130px;
  padding: 30px 10px 10px 10px;
  cursor: pointer;
}

#calendar .calendar-table .day {
  position: absolute;
  top: 5px;
  left: 8px;
}

#calendar .calendar-table td:first-child .day {
  color: #ed1d25;
}

#calendar .calendar-table td:last-child .day {
  color: #0072bc;
}

#calendar .calendar-table .data {
  width: 100%;
  text-align: left;
  border-radius: 5px;
  height: 100%;
}

#calendar .calendar-table .data .box {
  color: #fff;
}

#calendar .calendar-table .data .box:hover {
  text-decoration: none;
}

.bg-success {
  background-color: #247cba !important;
}

.bg-primary {
  background-color: #16a996 !important;
}

.bg-warning {
  background-color: #9bb958 !important;
}

.bg-secondary {
  background-color: #f29b12 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.clickable {
  cursor: pointer;
}

#calendar .calendar-table .data .box .state {
  display: block;
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
}

#calendar .calendar-table .data .box .state a {
  color: #fff;
}

#calendar .calendar-table .data .box ul {
  display: block;
  padding-left: 10px;
  margin: 10px 0;
}

#calendar .calendar-table .data .box ul li span.name:after {
  padding-left: 3px;
  content: ":";
}

#calendar .calendar-table .data .box ul li span {
  margin-right: 4px;
}

#calendar .calendar-table .data .box ul li.date, #calendar .calendar-table .data .box ul li.submit, #calendar .calendar-table .data .box .change {
  display: none;
}

#calendar .calendar-table .data .box ul li .name {
  margin-right: 3px;
}

#calendar #partners .calendar-table .data {
  height: auto;
}

#calendar #partners .calendar-table .data > ul {
  margin: 10px 0 0 0;
  padding: 0;
}

#calendar #partners .calendar-table .data > ul li {
  font-weight: 600;
  position: relative;
  line-height: 24px;
}

#calendar #partners .calendar-table .data > ul li.list {
  display: none;
}

#calendar #partners .calendar-table .data > ul li.list:nth-child(-n+3) {
  display: block;
}

#calendar #partners .calendar-table .data > ul li strong {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ccc;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 18px;
}

#calendar #partners .calendar-table .data > ul li.date {
  display: none;
}

#calendar #partners .calendar-table .data > ul li span.title {
  width: calc(100% - 25px);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#calendar #partners .calendar-table .more {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 90px;
}

#calendar #partners .calendar-table .more .num {
  margin-left: 4px;
}

#calendar #partners .calendar-table .more em {
  font-style: normal;
  color: #ed1d25;
}

@media (max-width: 1199px) {
  #calendar .calendar-table .data .box ul li .name {
    display: none;
  }

  #calendar .calendar-table .data .box ul li.temp {
    letter-spacing: -2px;
  }
}
@media (max-width: 767px) {
  .bg-success .state {
    background-color: #247cba !important;
  }

  .bg-primary .state {
    background-color: #16a996 !important;
  }

  .bg-warning .state {
    background-color: #9bb958 !important;
  }

  .bg-secondary .state {
    background-color: #f29b12 !important;
  }

  .bg-danger .state {
    background-color: #dc3545 !important;
  }

  .calendar-table table, .calendar-table thead, .calendar-table tbody, .calendar-table th, .calendar-table td, .calendar-table tr {
    display: block;
  }

  #calendar .calendar-table thead th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #calendar .calendar-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 10px 15px 10px 40px;
    overflow: hidden;
    height: auto;
  }

  #calendar .calendar-table td.empty {
    display: none;
  }

  #calendar .calendar-table .day {
    position: absolute;
    top: 15px;
    left: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 1.75;
  }

  #calendar .calendar-table td:first-child .day {
    color: #ed1d25;
    border-color: #ed1d25;
  }

  #calendar .calendar-table td:last-child .day {
    color: #0072bc;
    border-color: #0072bc;
  }

  #calendar .calendar-table .data {
    background-color: transparent !important;
  }

  #calendar .calendar-table .data .box {
    color: #333;
  }

  #calendar .calendar-table .data .box .state {
    float: right;
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    padding: 0;
  }

  #calendar .calendar-table .data .box ul {
    display: block;
    float: left;
    margin: 0;
  }

  #calendar .calendar-table .data .box ul li {
    line-height: 1.725;
  }

  #calendar .calendar-table .data .box ul li.date, #calendar .calendar-table .data .box ul li.submit, #calendar .calendar-table .data .box ul li.submit .name {
    display: block;
    float: left;
  }

  #calendar .calendar-table .data .box ul li.date {
    font-weight: 600;
    width: 100%;
  }

  #calendar .calendar-table .data .box ul li.date .name + span {
    margin-right: 3px;
  }

  #calendar .calendar-table .data .box ul li.weather {
    margin-right: 3px;
  }

  #calendar .calendar-table .data .box ul li.weather span {
    float: left;
    margin-right: 5px;
  }

  #calendar .calendar-table .data .box ul li.submit {
    margin-top: 5px;
  }

  #calendar .calendar-table .data .box ul li.submit a {
    text-decoration: underline;
    color: #f37321;
    font-weight: 600;
  }

  #calendar .calendar-table .data .box .change {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  #calendar .calendar-table .data .box .change a {
    text-decoration: underline;
    font-size: 12px;
    color: #999;
  }

  #calendar #partners .calendar-table td {
    height: auto;
  }

  #calendar #partners .calendar-table .data > ul {
    margin: 0;
    padding-left: 10px;
  }

  #calendar #partners .calendar-table .data > ul li.date {
    display: block;
  }

  #calendar #partners .calendar-table .data > ul li.date span.name:after {
    padding-left: 3px;
    content: ":";
  }

  #calendar #partners .calendar-table .data > ul li.date span {
    margin-right: 4px;
  }

  #calendar #partners .calendar-table .data > ul li span.title {
    width: 220px;
  }

  #calendar #partners .calendar-table .data > ul li.list {
    display: block;
  }

  #calendar #partners .calendar-table .more {
    display: none;
  }
}
#calendar .expanded .card .btn-area {
  position: absolute;
  right: 10px;
  top: 5px;
}

#calendar .expanded .calendar-table tbody tr {
  display: none;
}

#calendar .expanded .calendar-table tbody tr.active {
  display: table-row;
}

#calendar .expanded .calendar-table tbody td {
  height: 65px;
}

#calendar .expanded .calendar-table .data .box .state {
  border-bottom: none;
}

#calendar .expanded .calendar-table .data .box ul {
  display: none;
}

@media (max-width: 767px) {
  #calendar .calendar-table {
    margin-bottom: 0;
    table-layout: inherit;
  }

  #calendar .expanded .calendar-table {
    display: none;
  }

  #calendar .expanded > .card-body {
    padding: 0;
    margin-bottom: 0;
    border: 0;
  }

  #calendar .expanded .card .inner {
    height: 100%;
  }

  #calendar .expanded .card .contents {
    padding: 10px;
  }

  #calendar .expanded .card .contents .title {
    padding: 10px;
  }

  #calendar .expanded .contents .btn-area > .btn.search {
    display: block;
    border: 0;
  }

  #calendar .expanded .contents .btn-area > .btn.del {
    display: none;
  }
}
#calendar .data_table tr.template, #calendar .data_table tr.template_view, #calendar .data_table tr.template_edit, #calendar .data_table tr.template_nodata, #calendar .view_table tr.template, #calendar .view_table tr.template_view, #calendar .view_table tr.template_edit, #calendar .view_table tr.template_nodata {
  display: none !important;
}
#calendar .data_table tr.I, #calendar .view_table tr.I {
  background-color: rgba(36, 124, 186, 0.7);
}
#calendar .data_table tr.U, #calendar .view_table tr.U {
  background-color: rgba(22, 169, 150, 0.7);
}
#calendar .data_table tr.D, #calendar .view_table tr.D {
  background-color: rgba(155, 185, 88, 0.7);
}
#calendar .data_table tr.E, #calendar .view_table tr.E {
  background-color: rgba(185, 65, 64, 0.7) !important;
}
#calendar .data_table tr.focus, #calendar .view_table tr.focus {
  background-color: rgba(242, 155, 18, 0.7);
}
#calendar .master_btns.hide {
  display: none;
}

.autocomplete {
  position: relative;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  padding-left: 0;
  z-index: 2000;
}

.datatable_autocomplete {
  width: 70% !important;
}

.container {
  display: table;
}

.ui-widget .row {
  display: table-row;
  border-collapse: collapse;
}

/* Component containers
----------------------------------*/
.ui-widget-content {
  border: 1px solid #333;
  background: #ffffff;
  color: #333333;
  display: table;
  font-size: 12px;
}

.ui-widget-content a {
  color: #333333;
}

.ui-widget-sub {
  padding: 5px 10px;
  display: table-cell;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: #f37321;
  color: #ffffff;
  border: none;
  border-top: 1px solid #003eff;
  border-bottom: 1px solid #003eff;
  border-left: 1px solid #003eff;
  margin: 0px !important;
}
.ui-state-active:last-child,
.ui-widget-content .ui-state-active:last-child,
.ui-widget-header .ui-state-active:last-child,
a.ui-button:active:last-child,
.ui-button:active:last-child,
.ui-button.ui-state-active:hover:last-child {
  border-right: 1px solid #003eff;
}

.ui-helper-hidden-accessible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
