<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">
<head></head>
<body>

<div layout:fragment="contents">

    <section class="top-area">
        <nav aria-label="breadcrumb" class="float-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">협력사</a></li>
                <li class="breadcrumb-item active" aria-current="page">협력사 정보 관리</li>
            </ol>
        </nav>
        <div class="btn-area float-right">
        </div>
    </section>

    <section id="search-area" class="mb-3">
        <form id="search">
                <div class="border">
                    <div class="form-row">
                        <div>
                            <label for="corpKor">협력사</label>
                            <input type="text" class="form-control form-control-sm" id="corpKor" name="corpKor"/>     
                        </div>
                    </div>
                    <div class="btn-area">
                      <button class="btn btn-secondary btn-sm" type="submit" id="btnSearch">조회</button>               
                    </div>
                </div>
        </form>
    </section>
    
    <section id="grid-area" class="mb-3">
        <div class="d-flex justify-content-between pb-2 grid-title">
            <h2>◎  협력사 관리</h2>
            <div class="btn-area">
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnNew">신규</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnSave">저장</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="vertical-full1" id="coprcpInfoSheet"></div>
            </div>
        </div>
    </section>
    
</div>

<script type="text/javascript" th:inline="javascript" layout:fragment="script">
    $(document).ready(function(){
        
        resizeContent();
        
        var headers = [
            {Text: "상태|순번|삭제|협력사|공종|공종명|정렬|계약명|계약기간|현장코드|협력사PK|계약번호PK|사용여부"}
        ],
        mode = {
            HeaderCheck: true
        },
        columns = [
            {Type: "Status", SaveName: "rowStatus", Width:0, Align: "center", Hidden: true},
            {Type: "Seq", SaveName: "rowSeq", Width:60, Align: "center"},
            {Type: "DelCheck", SaveName: "rowChecked", Width: 0, Align: "left"},
            {Type: "Text", SaveName: "corpKor", Width:200, Align: "left", Edit: false, EditLen: 50, KeyField: true},
            {Type: "Int", SaveName: "cstkndNo", Width:0, Align: "left", Edit: true, EditLen: 50, KeyField: true, Hidden: true},
            {Type: "PopupEdit", SaveName: "cstkndNm", Width:70, Align: "left", Edit: true, KeyField: true},            
            {Type: "Int", SaveName: "sortNo", Width:60, Align: "center", Edit: true, EditLen: 20},
            {Type: "Text", SaveName: "ctrcNm", Width:200, Align: "left", Edit: false},            
            {Type: "Text", SaveName: "ctrcTerm", Width:100, Align: "center", Edit: false},
            {Type: "Text", SaveName: "deptCd", Width:200, Align: "left", Edit: false, Hidden: true},
            {Type: "Text", SaveName: "coprcpNo", Width:0, Align: "center", Hidden: true, DefaultValue: 0},
            {Type: "Text", SaveName: "ctrcNo", Width:0, Align: "center", Hidden: true},
            {Type: "CheckBox", SaveName: "useYn", Width:80, Align: "center", Edit: true, TrueValue: 'Y', FalseValue: 'N'},
        ];
        createIBSheet2($("#coprcpInfoSheet")[0], "coprcpInfoSheet", "100%", "496px");
        coprcpInfoSheet.InitHeaders(headers, mode);
        coprcpInfoSheet.InitColumns(columns);
        
        // 공종 :: OnPopupClick Event
        window["coprcpInfoSheet_OnPopupClick"] = function (Row, Col) {
            if (coprcpInfoSheet.ColSaveName(Col) == "cstkndNm") {
                var argCorpKor = coprcpInfoSheet.GetCellValue(Row,"corpKor");
                var argDeptCd  = coprcpInfoSheet.GetCellValue(Row,"deptCd");
                
                param = {searchSiteConstDept: argDeptCd
                        ,searchSiteConstNm: argCorpKor};
            
                //공종 팝업
                var modal = _.dialog.modal( _.url.format("/partners/info/siteConstListModal/{searchSiteConstNm}/{searchSiteConstDept}", param), {title: "공종", width: "820px", sheetId:coprcpInfoSheet}, function (data) {
                    
                    coprcpInfoSheet.SetCellValue(Row, "cstkndNo", data.cstkndNo);
                    coprcpInfoSheet.SetCellValue(Row, "cstkndNm", data.cstkndNm);
                    
                });  
            };
        };
        
        var $search = $("#search");
        $search.on("submit", function(e) {
            e.preventDefault();
            $.getJSON("/partners/info/gridList", $(this).serialize(), function (data) {
                coprcpInfoSheet.LoadSearchData({"data": data});
            });
        });
        
         
        //테스트 버튼 클릭
        $("#btnTest").on("click", function() { 
  //          var dRow = materialListSheet.FindStatusRow("U");
  //          var arrow = dRow.split(";");
  
  //          alert(arrow);
        });
     
   
        //신규 버튼 클릭
        $("#btnNew").on("click", function() {
//             var mainDeptCd = _.cdrs.storage.deptCd();
            
//             lRow = coprcpInfoSheet.DataInsert(-1);
//             coprcpInfoSheet.SelectCell(lRow,"qtyNm");
//             coprcpInfoSheet.SetCellValue(lRow, "deptCd", mainDeptCd);

            //협력사 계약 현황  팝업
            var modal = _.dialog.modal("/partners/info/prtnConListModal/", {title: "협력사 계약 현황", width: "820px", autoClose: true, sheetId:coprcpInfoSheet}, function (data) {
                setRoleData(data, modal);
            });  
            
        });
   
        //저장 버튼 클릭
        $("#btnSave").on("click", function() {
                     
           var changeCnt = 0;
           for (var i=1; i<=coprcpInfoSheet.RowCount(); i++) {
               if (coprcpInfoSheet.GetCellValue(i,"rowStatus") == "I" 
                || coprcpInfoSheet.GetCellValue(i,"rowStatus") == "U"
                || coprcpInfoSheet.GetCellValue(i,"rowStatus") == "D") {
                   changeCnt++;
               }
           }
           
           if (changeCnt == 0) {
               //_.dialog.alert("저장할 항목이 없습니다.");
               _.cdrs.notify.show("저장","저장할 항목이 없습니다.");
               return false;
           }
           
           var coprcpInfoList = coprcpInfoSheet.GetSaveJson();
           if (!_.cdrs.ibsheetValid(coprcpInfoList)) {
               return false;
           }
           
           /**
            * IBSheet 그리드 중복값 체크
            * @param argSheetObj : sheet 객체
            * @param argSection : 중복 체크 컬럼 값 ( '|' 구분으로 복수 체크 가능 )
            * @param argRowStartNo : 시작 row 번호
            * @returns {boolean}
            */
//             var colNm = "coprcpNo|ctrcNo|cstkndNo";
//             if(fncSheetRowDupCheck(coprcpInfoSheet, colNm, 1) == false){
//                 return false;
//             }
  
           
           var param = $("#search").serializeObject();
           param.partners = coprcpInfoSheet.GetSaveJson().data;

           _.dialog.confirm("저장하시겠습니까?", function() {
               $.post("/partners/info/gridSave", param, function() {
                   //_.dialog.alert("저장되었습니다.");
                   _.cdrs.notify.show("저장","저장되었습니다.");
                   coprcpInfoSheet.LoadSaveData(_.ibsheet.success());
                   $search.trigger("submit");
               });
           });
        });
        
        /**
         * IBSheet 그리드 중복값 체크
         * @param argSheetObj : sheet 객체
         * @param argSection : 중복 체크 컬럼 값 ( '|' 구분으로 복수 체크 가능 )
         * @param argRowStartNo : 시작 row 번호
         * @returns {boolean}
         */
         function fncSheetRowDupCheck (argSheetObj, argSection, argRowStartNo){
  
            var chk = 0;
            var rowCount = argSheetObj.RowCount();
            var varSectionVal = String(argSection).split('|');
  
            if(rowCount > 0){
                for(var i = 0; i < rowCount; i++){
                    for(var j = 0; j < rowCount; j++){
                        if(i != j){
                            var varBaseStatus = argSheetObj.GetCellValue(i+argRowStartNo, 'rowStatus');
                            var varTarStatus  = argSheetObj.GetCellValue(j+argRowStartNo, 'rowStatus');
                            var varBaseVal = '';
                            var varTarVal = '';
                            
                            for(var z = 0; z < varSectionVal.length; z++){
                                
                                if(z == 0){
                                    varBaseNm = argSheetObj.GetCellValue(i+argRowStartNo, varSectionVal[z]);    
                                }
                                
                                varBaseVal += argSheetObj.GetCellValue(i+argRowStartNo, varSectionVal[z]);
                                varTarVal += argSheetObj.GetCellValue(j+argRowStartNo, varSectionVal[z]);
                            }
                            
                            if(varBaseVal == ""){
                                continue;
                            }
                            
                            // 앞,뒤,중간 공백 제거 & 대문자 변환 후 비교 처리
                            varBaseVal = varBaseVal.replace(/(\s*)/g, "").toUpperCase();
                            varTarVal  = varTarVal.replace(/(\s*)/g, "").toUpperCase();
                            
                            if(varBaseStatus != 'D' && varTarStatus != 'D' && varBaseVal == varTarVal){
                                var bRow = i+argRowStartNo;
                                var sRow = j+argRowStartNo;
                                
                                _.dialog.error("※ 중복값이 존재합니다.\n\n행번호 : " + bRow + "행\n명칭 : " + varBaseNm );
                                argSheetObj.SetSelectRow(sRow);
                                
                                return false;
                            }
                        }
                    }
                }
            }
            return true;
        }
        
        // Sheet 상태값 체크
        function fnStatusCheck(argSheetObj){
            var changeCnt = 0;
            for (var i=1; i<=argSheetObj.RowCount(); i++) {
                if (argSheetObj.GetCellValue(i , "rowStatus") == "I" 
                 || argSheetObj.GetCellValue(i , "rowStatus") == "U"
                 || argSheetObj.GetCellValue(i , "rowStatus") == "D") {
                    changeCnt++;
                }
            }
            return changeCnt;
        }
        

        // 협력사 중복 체크 , 등록 처리 
        function setRoleData(result, modal) {
            if (result != null) {
                var r_data = JSON.parse("[" + result + "]");
                var coprcpNmDup = "";
                var chkNum = 0;
                var prevCorpKor = "";
                
                for (idx = 0; idx < r_data.length; idx++) {
                    
                    var isPass = true;
                    var _corpId= r_data[idx].corpId;
                    var _ctrcNo= r_data[idx].cstInfoId;
                    
                    
                    for (var i = 1; i <= coprcpInfoSheet.RowCount(); i++) {
                        //alert(_ctrcNo + " :::::: " + coprcpInfoSheet.GetCellValue(i, "ctrcNo"));
                        if (_corpId == coprcpInfoSheet.GetCellValue(i, "coprcpNo") && _ctrcNo == coprcpInfoSheet.GetCellValue(i, "ctrcNo")) {

                            chkNum++;
                            
                            if(chkNum == 1){
                                coprcpNmDup += "※ 중복 데이터" + "\n";
                                coprcpNmDup += "협력업체명 : " + r_data[idx].corpKor + "\n";
                                coprcpNmDup += "계약명 : " + r_data[idx].conName + ",";
                            }else if(prevCorpKor == r_data[idx].corpKor){
                                coprcpNmDup += r_data[idx].conName + ",";
                            }else{
                                coprcpNmDup = coprcpNmDup.slice(0,-1);
                                coprcpNmDup += "\n\n";
                                coprcpNmDup += "협력업체명 : " + r_data[idx].corpKor + "\n";
                                coprcpNmDup += "계약명 : " + r_data[idx].conName + ",";
                            }
                            
                            prevCorpKor = r_data[idx].corpKor;
                            
                            isPass = false;
                        }
                    }

                    if (isPass) {
                        var rowIdx = coprcpInfoSheet.DataInsert(-1);
                        var sortNoVal   = coprcpInfoSheet.GetCellValue(rowIdx, "rowSeq");
                                                
                        coprcpInfoSheet.SetCellValue(rowIdx, "coprcpNo", r_data[idx].corpId);
                        coprcpInfoSheet.SetCellValue(rowIdx, "corpKor", r_data[idx].corpKor);
                        coprcpInfoSheet.SetCellValue(rowIdx, "ctrcNo", r_data[idx].cstInfoId);
                        coprcpInfoSheet.SetCellValue(rowIdx, "ctrcNm", r_data[idx].conName);
                        coprcpInfoSheet.SetCellValue(rowIdx, "ctrcTerm", r_data[idx].corpTerm);

                        coprcpInfoSheet.SetCellValue(rowIdx, "deptCd", r_data[idx].deptCd);
                        coprcpInfoSheet.SetCellValue(rowIdx, "sortNo", sortNoVal);
                        
                        modal.modal("hide");
                    }
                }
                
                if(chkNum > 0){
                    coprcpNmDup = coprcpNmDup.slice(0,-1);
                   _.dialog.error(coprcpNmDup + "\n\n" + "※ 위 데이터는 중복되어 추가할 수 없습니다.");
                }
            }
        }
        
        
    });
</script>

</body>
</html>   