<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/modalLayout">
<body>
  <div layout:fragment="contents">
    <form name="frmPgm" >
      <div class="form-inline border rounded p-2">
        <div class="col mr-auto">
          <div class="row">
            <div class="form-group col">
              <label for="">시스템 분류</label>
                <select class="form-control" name="pgmSysClsCd" id="pgmSysClsCd">
               <!--  <option th:each="sysClsCd : ${sysClsCd}" th:value="${sysClsCd.key}" th:text="${sysClsCd.value}" ></option> -->                
                </select>                                              
            </div>  
            <div class="form-group col">
              <label for="">네임스페이스</label>
               <input class="form-control" type="text" id="pgmNmspcCd" name="pgmNmspcCd" value="" />                                         
            </div>                                
          </div>
        </div> 
        <div class="align-self-end">
          <button type="button" class="btn btn-info btn-sm" id="btnPgmModalSearch">조회</button>
        </div>                        
      </div>
    </form>
    <div class="mt-4">
      <div class="row align-items-center">
        <div class="col-auto mr-auto">            
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-secondary btn-sm mb-1" id="btnPgmConfirm">확인</button>
        </div>
      </div>  
      <div id="comPgmSheet"></div>
    </div>
  </div>
  <script type="text/javascript" th:fragment="javascript">
  $(document).ready(function() {

      $.getJSON("/code/getCodeList/SYS_CLS_CD", function(codes) {  
          var sysClsCd = codes.sysClsCd;
          var info = {ComboText: _.utils.delimiter(sysClsCd, "value"), ComboCode:  _.utils.delimiter(sysClsCd, "key") };
          comPgmSheet.SetColProperty(0, "sysClsCd", info);
          
          _.binder.combo("#pgmSysClsCd", sysClsCd, {value: "key", text: "value"});
      });            
      
      var headers = [
          {Text: "진행상태|선택|프로그램 ID|시스템 분류|네임스페이스|프로그램|프로그램 유형|URI 명|메인 프로그램 ID"}
      ],
      mode = {
          HeaderCheck: true
      },
      columns = [              
          {Type:"Status",   SaveName:"rowStatus",   Width:0,    Align:"center", Hidden:true},
          {Type:"Radio",    SaveName:"check",       Width:100,  Align:"center"},
          {Type:"Text",     SaveName:"pgmId",       Width:100,  Align:"center", InsertEdit:false, UpdateEdit:false},
          {Type:"Combo",    SaveName:"sysClsCd",    Width:120,  Align:"center", InsertEdit:false, UpdateEdit:false},
          {Type:"Text",     SaveName:"nmspcCd",     Width:250,  Hidden:true},
          {Type:"Text",     SaveName:"nmspcVal",    Width:250,  TreeCol:true, InsertEdit:false, UpdateEdit:false},
          {Type:"Text",     SaveName:"pgmTypCd",    Width:0,    Align:"center", InsertEdit:false, UpdateEdit:false},
          {Type:"Text",     SaveName:"uriNm",       Width:300,  InsertEdit:false, UpdateEdit:false},
          {Type:"Text",     SaveName:"mainPgmId",   Width:100,  Align:"center", Hidden:true}
      ];
      createIBSheet2($("#comPgmSheet")[0], "comPgmSheet", "100%", "300px");
      comPgmSheet.InitHeaders(headers, mode);
      comPgmSheet.InitColumns(columns);       
      
      //조회 버큰 클릭
      $("#btnPgmModalSearch").on("click", function() {
          var param = "sysClsCd="+$("#pgmSysClsCd").val() + "&nmspcCd="+$("#pgmNmspcCd").val();
          $.getJSON("/sysm/sec/rnr/roleList/pgmGridList", param, function (data) {
              comPgmSheet.LoadSearchData({"data": data});
          });                      
      });
     
      //확인 버큰 클릭
      $("#btnPgmConfirm").on("click", function() {
          
          if(comPgmSheet.FindCheckedRow("check") == "") {
              _.dialog.alert("선택된 항목이 없습니다.");
              return;
          }
          
          var cRow = comPgmSheet.FindCheckedRow("check");
          var arrRow = cRow.split("|");                       
          var data = {
                  pgmId: comPgmSheet.GetCellValue(arrRow[0], "pgmId"),
                  pgmNm: comPgmSheet.GetCellValue(arrRow[0], "nmspcVal"),
                  uriNm: comPgmSheet.GetCellValue(arrRow[0], "uriNm"),
                  nmspcCd: comPgmSheet.GetCellValue(arrRow[0], "nmspcCd"),
                  pgmTypCd: comPgmSheet.GetCellValue(arrRow[0], "pgmTypCd")
              }
                      
          callback(data);
      });
        
      
  });
  </script>
</body>
</html>